/* color */
$gray-100: #fff;
$gray-90: #E3E1E1;
$gray-80: #DCD6D6;
$gray-70: #C4C4C4;
$gray-60: #B2AEAE;
$gray-50: #AEADAD;
$gray-40: #949494;
$gray-35: #938E8E;
$gray-30: #858080;
$gray-20: #262626;
$gray-10: #141414;
$gray-0: #000;

$red-100: #FC0707;
$red-90: #F83A3A;
$red-80: #D42525;
$red-70: #D04B2E;
$red-60: #D02E2E;
$red-50: #C90808;

$yellow: #DDC911;